#particles-js{
    height:100%;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    display: block;
  }
  body, html, main {
    /* important */
    height: 100%;
}
  
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/26.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/29.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/28.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/27.jpg");
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/30.jpg");
}
  
.cd-scrolling-bg {
    min-height: 100%;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #2E2E2E;
  color: #ffffff;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #2E2E2E;
  color: #ffffff;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #2E2E2E;
  color: #ffffff;
}
.cd-scrolling-bg.cd-color-4 {
  background-color: #2E2E2E;
  color: #ffffff;
}
.text{
  position: relative;
z-index: 3;
}
body {
    background:#000000 url('body-bg.jpg');
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#565656;
}
 
.menu {
    position: relative;
    width:1000px;
    margin:0px auto;
    z-index: 5;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#ffffff;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#ffffff;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:none;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
body{
  background: #000;
  animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
    }
 
/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }

.outer{
  text-align: center;
}
.inner{
  display: inline-block;
  text-align: left;
  max-width: 960px;
}
.inner img{
  width: 100%;
  height: auto;
}
.box {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  
  width: 700px;
  height: 100px;
}
.iframe{
display:flex;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
/*MORPH*/
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
  
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
}
.box2 {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}
body{
text-align:center;
}

.box3{
margin-left:auto;
margin-right:auto;
text-align:left;
}