@media only screen and (max-width: 767px) {
  body {
background-image: url(../img/26.jpg);
  }
}

#particles-js{
    height:100%;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    display: block;
  }
  body, html, main {
    /* important */
    height: 100%;
}
  
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/26.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/29.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/28.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/27.jpg");
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/30.jpg");
}
  
.cd-scrolling-bg {
    min-height: 100%;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #2E2E2E;
  color: #ffffff;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #2E2E2E;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #2E2E2E;
  color: #000000;
}
.cd-scrolling-bg.cd-color-4 {
  background-color: #2E2E2E;
  color: #3d3536;
}
.text{
  position: relative;
z-index: 3;
}
body {
    background:#000000 url('body-bg.jpg');
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#ffffff;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#ffffff;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
.menu{
position: fixed;
    top: 0;
    left:0;;
z-index: 4;