body{
  background: url(../img/26.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
body::before{
  content: " ";
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#particles-js{
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    display: block;
  }